
<html lang="ko">
    <head>
      <meta charset="utf-8" />
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <style>
        div#app { padding: 30px; margin: 30px auto; max-width: 300px; 
          border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa;  }
        span { display: inline-block; margin: 20px; padding: 20px 40px; 
          border: 1px solid black; height: 40px;}
        .yellow { background-color: #ffa; }
        button { padding: 0.5em 2em; }
      </style>
    </head>
    <body>
      <div id="app">
          <div>
        <button type="button" v-bind:value = "true" disabled = "disabled" v-model="visible">보이기</button>
        <button type="button" v-bind:value = "false"  v-model="visible">감추기</button>
    </div>
       
        <span class="yellow" v-show ="true">  </span>
        <label>
          
      </div>
    
      <script type="text/javascript">
        var app = new Vue({
          el: '#app',
          data: {
            value: true
          }
        })
       </script>
    </body>    
    </html>
    
    
    